@import "../../App.scss";

.skills {
  height: 100vh;
  position: relative;

  .container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    
    .wrapper {
      display: flex;
      height: 100%;
      align-items: center;
      margin-top: 2rem;


      @media screen and (max-width: 900px){
        flex-direction: column;
        gap: 2rem;
      }
    }
  }

  .skillstitle {
    position: absolute;
    font-size: 50vh;
    bottom: -80px;
    white-space: nowrap;
    color: #ffffff25;
    width: 100%;
    font-weight: bold;
    z-index: 0;
    user-select: none
  }

  .background {
    position: absolute;
    object-fit: fill;
    height: 100%;
    width: 100%;
    filter: blur(2px);
    z-index: -999;
  }
}