@import "../../App.scss";

.navbar {
    height: 100px;
    // margin-left: 20px;
    // margin-right: 20px;


    .wrapper {
        max-width: 1366px;
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        span {
            font-weight: bold;
        }

        .socials {
            display: flex;
            gap: 20px;

            .img {
                width: 24px;
                height: 24px;
            }
        }
    }
    
}